@{
    Script.Require("Flexslider");
    Style.Require("Flexslider");
}

<section id="flexslider" class="flexslider">
    <ul class="slides">
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/001.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/002.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/003.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/004.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/005.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/006.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/007.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/008.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/009.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/010.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/011.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/012.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/013.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/014.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/015.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/016.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/017.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/018.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/019.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/020.jpg" />
        </li>
        <li>
            <img src="http://finelinetrim.blob.core.windows.net/media/Default/Slider/021.jpg" />
        </li>
    </ul>
</section>

@{
    using (Script.Foot()) {
        <script type="text/javascript">
            $(function () {
                $('#flexslider').flexslider({
                    animation: "slide",
                    controlNav: false,
                    animationLoop: true,
                    slideshow: true,
                    itemWidth: 800
                });
            });
        </script>
    }
}